* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  line-height: 1.6;
}

p {
  margin-bottom: 10px;
}

.box {
  background-color: aquamarine;
  width: 150px;
}

.tCap {
  background-color: blanchedalmond;
}

.game-title {
  background-color: aliceblue;
  width: 500px;
}
